<div class="container">
    <h3>New collection</h3>
    <form id="newBookCollection" action="#">
      <input id="newBookCollectionName" type="text" name="collection-name" title="Name" placeholder="Name" required [(ngModel)]="inputName">
      <button type="button" (click)="createBookCollection()">Create</button>
      <p>
        <span>The new collection will be named: {{ inputName }}</span>
      </p>
    </form>
  </div>
  <div class="container">
    <h3>Tools</h3>
    <form action="#">
      <button type="button" (click)="reloadBookCollections()">Reload collections</button>
    </form>
  </div>
